<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <springProperty scope="context" name="env" source="spring.profiles.active"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="capdq"/>
    <springProperty scope="context" name="logLevel" source="log.level"/>
<!--    <springProperty scope="context" name="logDebug" source="log.Servicelevel"/>-->
    <springProperty scope="context" name="logPath" source="log.path" defaultValue="/data/log/"/>
    <property name="fileSize" value="256MB"/>
    <property name="maxDay" value="30"/>
    <property name="maxDayError" value="30"/>
<!--    <conversionRule conversionWord="ip" converterClass="com.xy.paycenter.common.util.IpConvert"/>-->

    <appender name="consoleInfo" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t]-[${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %c{100}:%L - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 业务日志 -->
    <appender name="bizInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t]-[${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %c{100}:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${logPath}/${appName}/info.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 日志最大的历史 60天, 抽取到EKL -->
            <maxHistory>${maxDay}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${fileSize}</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <!-- 错误日志 -->
    <appender name="systemError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${appName}/error.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t]-[${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %c{100}:%L - %m%n</pattern>
        </encoder>
        <!-- 过滤器, 只打ERROR级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${appName}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 不抽取到ELK, 所以保持时间长点 -->
            <maxHistory>${maxDayError}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--开发、测试打印sql信息-->
    <logger name="java.sql.Connection" level="INFO">
        <appender-ref ref="consoleInfo"/>
    </logger>
    <logger name="java.sql.Statement" level="INFO">
        <appender-ref ref="consoleInfo"/>
    </logger>
    <logger name="java.sql.CallableStatement" level="INFO">
        <appender-ref ref="consoleInfo"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="INFO">
        <appender-ref ref="consoleInfo"/>
    </logger>

    <!--日志打印的包的范围，及分类日志文件存储 -->
    <logger name="com.ljq" level="INFO" additivity="false">
        <appender-ref ref="bizInfo" />
    </logger>

    <logger name="com.ljq" level="INFO" additivity="false">
        <appender-ref ref="consoleInfo" />
    </logger>

    <!--收集Root日志-->
    <springProfile name="dev,test,pro,cnm">
        <root level="INFO">
            <appender-ref ref="consoleInfo"/>
            <appender-ref ref="bizInfo"/>
            <appender-ref ref="systemError"/>
        </root>
    </springProfile>
</configuration>
